html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#sidebar{
	height: 100%;
	width: 25%;
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	background: #222;
	overflow-y: auto;
	overflow-x: hidden;
}

#sidebar .song > div.row {
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	color: #eee;
	transition: background .25s;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
}

#sidebar .song:hover > div.row {
	background: #111;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	color: #eee;
}

#sidebar .song .song-info {
	padding: 10px 0;
}

#body {
	height: 100%;
	width: 75%;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(300deg, #2fb094, #1f7cb0, #4bb6a9, #228bbb, #319ba7, #4391bd);
	background-size: 1200% 1200%;

	-webkit-animation: AnimationName 45s ease infinite;
	-moz-animation: AnimationName 45s ease infinite;
	animation: AnimationName 45s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName { 
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

#body nav {
	width:100%;
	height:50px;
}

#body nav ul {
	margin: 0;
	padding: 0;
}

#body nav ul li {
	width: 24%;
	display: inline-block;
	text-decoration: none;
	text-transform:uppercase;
	text-align:center;
}

#body nav ul li a {
	color:white;	
}

#body #album {
	width:30%;
	margin:auto;
	display:block;
	margin-top:30px;
	border-radius: 100%;
}

#body #controls {
	text-align: center;
	color:white;
	margin-top:10px;
}

#body #controls .fa {
	font-size: 30px;
	vertical-align: super;
}

#body #controls .fay-play-default {
	padding: 0 20px;
}

#body #controls .fay-play-default > svg {
	padding-top: 7px;
}

#body #logo {
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

#body #logo img {
	margin: 0 auto 10px;
	width:30%;
}

#body #song-info {
	color: white;
	font-size:35px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: -20px;
}

#body #song-info .fa {
	font-size:15px;
	vertical-align: middle;
	padding-bottom: 7px;
}






