html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.fa {
	cursor:pointer;
}

a:hover {
	text-decoration: none;
}

#scroll-hack {
	overflow:hidden;
}

#sidebar{
	height: 100%;
	width: 400px;
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	background: #222;
	overflow-x:none;
	overflow-y:auto;
}

#sidebar .song {
	position:relative;
	display:block;
	height: 120px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	color: #eee;
	transition: background .25s;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
}

#sidebar .song:hover {
	background: #111;
	text-decoration: none;
}

#sidebar .song img {
	width: 120px;
	position:absolute;
	left:0;
}

#sidebar .song .song-info {
	display:inline-block;
	margin: 0 0 0 10px;
	position:absolute;
	left: 120px;
	right: 50px;
	top: 25px;
	bottom: 0;
}

#sidebar .song .song-tools {
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	font-size: 20px;
}

#sidebar .song .song-tools .fa-heart {
	transition: color .25s;
	-webkit-transition: color .25s;
}

#sidebar .song .fa-heart:hover {
	color: #bbb;
}

#sidebar a.fav .fa-heart {
	color: #e74c3c;
}

#sidebar a.fav .fa-heart:hover {
	color: #c0392b;
}

#sidebar #load-more-songs {
	text-align: center;
	padding-top: 45px;
	letter-spacing: 2px;
	font-size: 25px;
	color: #1DC2A1;
	text-decoration: none;
}

#body {
	height: 100%;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 400px;
	background: linear-gradient(300deg, #2fb094, #1f7cb0, #4bb6a9, #228bbb, #319ba7, #4391bd);
	background-size: 1200% 1200%;

	-webkit-animation: AnimationName 45s ease infinite;
	-moz-animation: AnimationName 45s ease infinite;
	animation: AnimationName 45s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName { 
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

#body nav {
	width:100%;
	height:50px;
}

#body nav ul {
	margin: 0;
	padding: 0;
}

#body nav ul li {
	width: 24%;
	display: inline-block;
	text-decoration: none;
	text-transform:uppercase;
	text-align:center;
}

#body nav ul li a {
	color:white;	
}

#body #album {
	width:30%;
	margin:auto;
	display:block;
	margin-top:30px;
	border-radius: 100%;
}

#body #controls{
	text-align: center;
	color:white;
	margin-top:10px;
}

#body #controls .fa {
	font-size: 30px;
}

#body #controls .fa-backward, #body #controls .fa-forward {
	padding: 0 20px;
	vertical-align: super;
}

#body #controls .fay-play-default > svg {
	vertical-align: middle;
	margin-top:-5px;
}

#body #logo {
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 300;
}

#body #logo img {
	margin: 0 10px 10px auto;
	width:20%;
}

#body #song-info {
	color: white;
	font-size:35px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 1px;
}

#body #song-info .fa {
	font-size:15px;
	padding-bottom: 7px;
}

#body #toolbar {
	color: white;
	font-size: 20px;
	text-align: center;
}

#body #toolbar #volume-control {
	margin:auto;
	width: 150px;
	height: 8px;
	background: rgba(255,255,255,.5);
	border-radius: 10px;
	display:inline-block;
	cursor: pointer;
	margin-bottom: 3px;
}

#body #toolbar #volume-bar {
	height: 100%;
	background:white;
	border-radius: 10px;
	cursor: pointer;
}

#loading {
	position: absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.95);
	z-index: 200;
}

#loading p {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	width: 100%;
}

p#load-status {
	letter-spacing: 1px;
}

.spinner {
  margin: 230px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}





