<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Provo Yacht Club</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/int/index.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<main>
			<%= erb :'index/partials/sidebar' %>
			<%= erb :'index/partials/body' %>
		</main>

		<svg width="100" height="100">
		  <defs>
		    <pattern id="image" patternUnits="userSpaceOnUse" height="100" width="100">
		      <image x="0" y="0" height="100" width="100" xlink:href=""></image>
		    </pattern>
		  </defs>
		</svg>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
		<script src="scripts/lib/ProgressBar.min.js"></script>
		<script src="scripts/lib/Fay.js"></script>
		<script src="scripts/int/index.js"></script>
	</body>
</html>