<section id="body">
	<%= erb :'index/partials/navbar' %>
	<section id="player">
		<div id="album"></div>
		<div id="song-info" data-current-slug="">
			<span id="artist"></span>
			<i class="fa fa-life-ring fa-fw"></i> 
			<span id="title"></span> 
		</div>
		<div id="controls">
			<i class="fa fa-backward"></i>
			<i class="fay-play-default" data-fay-size="50px"></i>
			<i class="fa fa-forward"></i>
		</div>
		<div id="toolbar">
			<i class="fa fa-fw fa-volume-up vol-icon"></i>
			<div id="volume-control">
				<div id="volume-bar"></div>
			</div>
			<i class="fa fa-retweet fa-fw" data-toggle="modal" data-target="#share"></i>
		</div>
		<div id="logo">
			<img src="assets/provo_yacht_club2.png" alt="" class="img-responsive">
		</div>
	</section>
</section>

<div id="loading">
	<div class="spinner">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>
	<p>Loading</p>
	<p id="load-status" style="display:none"></p>
</div>