<section id="body">
	<%= erb :'index/partials/navbar' %>
	<section id="player">
		<!-- <img src="http://cdn.stereogum.com/files/2015/01/purityring-anothereternity.png" alt=""> -->
		<div id="album"></div>
	</section>
</section>