<section id="body">
	<%= erb :'index/partials/navbar' %>
	<section id="player">
		<!-- <img src="http://cdn.stereogum.com/files/2015/01/purityring-anothereternity.png" alt=""> -->
		<div id="album"></div>
		<div id="song-info">
			<span id="artist"></span>
			<i class="fa fa-life-ring fa-fw"></i> 
			<span id="title"></span> 
		</div>
		<div id="controls">
			<i class="fa fa-backward"></i>
			<i class="fay-play-default" data-fay-size="50px"></i>
			<i class="fa fa-forward"></i>
		</div>
		<div id="toolbar">
			<i class="fa fa-volume-up"></i>
		</div>
		<div id="volume-control">
			<div id="volume-bar"></div>
		</div>
		<div id="logo">
			<img src="assets/provo_yacht_club2.png" alt="" class="img-responsive">
		</div>
	</section>
</section>

