<nav>
	<ul>
		<li> <a href="#">Blog</a> </li>
		<li> <a href="#">Events</a> </li>
		<li> <a href="#">About</a> </li>
		<li class="social">
			<a href="http://www.facebook.com/ProvoYachtClub"><i class="fa fa-fw fa-facebook-square"></i></a>
			<a href="http://www.twitter.com/ProvoYachtClub"><i class="fa fa-fw fa-twitter-square"></i></a>
			<a href="http://www.instagram.com/ProvoYachtClub"><i class="fa fa-fw fa-instagram"></i></a>
		</li>
	</ul>
</nav>