<!-- Sharing Modal -->

<div class="modal fade" id="share" aria-labelledby="share-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="share-label">Share <span></span></h4>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="soundcloud-share"><i class="fa fa-fw fa-soundcloud"></i></span>
          <input type="text" class="form-control" aria-describedby="soundcloud" id="soundcloud-share-text">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="pyc-share"><i class="fa fa-fw fa-retweet"></i></span>
          <input type="text" class="form-control" aria-describedby="pyc" id="pyc-share-text">
        </div>
      </div>

    </div>
  </div>
</div>